@model NotificationModel

<main id="main" class="main">
    <form method="post">
        @for (int i = 0; i < Model.Classes.Count; i++)
        {
            <input hidden asp-for="@Model.Classes[i].Id">
            <div class="w-50 p-3 rounded border border-secondary mb-2 d-flex justify-content-between" style="background-color:white;">
                <span>@Model.Classes[i].Name</span>
                <input class="form-check-input  border border-secondary" type="checkbox" unchecked asp-for="@Model.ClassesChecked[i]">
            </div>



        }

        <label for="Title" class="form-label">Title</label>
        <textarea class="form-control  w-50 border border-secondary rounded" id="Title" rows="3" asp-for="@Model.Title" required></textarea>
        <label for="Desc" class="form-label">Description</label>
        <textarea class="form-control  w-50 border border-secondary rounded mb-2" id="Desc" rows="3" asp-for="@Model.Description" required></textarea>
        <button class="btn btn-success" type="submit">Send Notification</button>
    </form>
</main>
